@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*-------------------------------------------general*/

body {
    font-family: "Open sans", sans-serif;
    color: rgb(105,21,17);
    font-weight: 400;
    font-size: 16px;
    height: 100%;
}

html {
    height: 100%;
}

h1 {
    font-family: "Saira extra condensed", sans-serif;
    font-weight: 400;
    font-size: 56px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h3 {
    font-family: "Saira extra condensed", sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
}

h4 {
    font-size: 30px;
    color: rgb(149, 44, 29);
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 40px 10px 40px;
}

h5 {
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(53, 5, 0);
    font-weight: 300;
}

.section {
    margin-top: 150px;
    margin-bottom: 50px;
}

.section img {
    vertical-align: middle;
    border-style: none;
    width: 50%;
    min-width: 350px;
    max-width: 450px;
    padding-bottom: 50px;
}

p {
    padding: 0px 50px 50px 50px;
    text-align: justify;
}

hr {
    max-width: 150px;
    border: 1px solid rgb(245, 194, 106);
}

p .text-align-center{
    text-align: center;
}

div .text-align-right {
    text-align: right;
}

div .text-align-left {
    text-align: left;
}

.padding-bottom {
    padding-bottom: 50px;
}

 .col, [class*="col-"] {
    padding-right: 20px;
    padding-left: 20px;
  }

.uppercase {
    text-transform: uppercase;
}


/*-------------------------------------------backgrounds*/

#wijnkaart {
    background-image: url("../img/op3.png");
    
}

#menu {
    background-image: url("");
    
}

#wijnkaart,
#menu {
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%; 
    height: 100%; 
}


/*-------------------------------------------heading*/


.navbar {
    border: 1px solid rgb(105,21,17);
    background-color: #fff;
}

.logo {
    background: url("../img/logo-d.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 100px;
    margin-top: -3rem;
    margin-bottom: -3rem;
    overflow: visible;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(53,5,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(53, 5, 0);
    font-family: "Open Sans";
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
}

.mt-2, .my-2 {
    margin-top: 0!important;
}

.navbar-collapse {
    padding-left: inherit;
}

.grow { 
    transition: all .2s ease-in-out; 
    }

.grow:hover { 
    transform: scale(1.1); 
    color: rgb(253, 71, 61);
    }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(253, 71, 61);
}

button:focus {
    outline: 5px auto rgba(253, 71, 61, 0.5);
}

/*-------------------------------------------footer*/

.footer-address {
    padding: 14px 0px 10px 50px;
    text-align: center;
}

.footer-address-text {
    font-size: 12px;
    margin: auto;
}

.footer-social {
    text-align: right;
    padding: 14px 16px 10px 10px;
}

.social-icon {
    color: rgb(53, 5, 0);
    font-size: 30px;
    font-size: 20px;
    padding-right: 25px;
}

.footer-border {
    border: 1px solid rgb(105,21,17);
    background-color: #fff;
}

.footer-icon {
    padding: 5px;
}

/*-------------------------------------------index*/

.hero-image {
    background-image: url("../img/hero-image/7.jpg");
    background-position: center 70%;
    background-repeat: no-repeat;
    min-height: 500px;
    width: 100%;
    background-size: cover;
    animation-name: hero-image-animation;
    animation-duration: 25s;
    animation-delay: -2s;
    animation-iteration-count: infinite;
    margin-top: -40px;
    margin-bottom: -20px;
}

@keyframes hero-image-animation {
  20%   {background-image: url("../img/hero-image/7.jpg");}
  40%  {background-image: url("../img/hero-image/15.jpg");}
  60%  {background-image: url("../img/hero-image/3.jpg");}
  80%  {background-image: url("../img/hero-image/14.jpg");}
  100% {background-image: url("../img/hero-image/8.jpg");}
}

.overlay {
    height: 500px;
    width: 100%;
    background: rgba(0, 0, 0, 0.35); 
    position: absolute;
    display: flex;
    align-items: center;
}

.title {
    color: #fff;
    position: relative;
    margin-left: 3vw;
}

.reserve-form {
    max-width: 60%;
    margin: auto;
    padding-bottom: 100px;
    background-color: transparent;
}

.btn-warning {
    background: rgb(230, 184, 0);
    background: linear-gradient(0deg, rgba(201,213,44,0.8)  0%,rgba(230, 184, 0,0.8) 100%);
    color: rgb(105,21,17);
    border: 1px solid rgb(105,21,17);
    margin: auto;
}


/*-------------------------------------------reserveren*/

.reserve-form

/*-------------------------------------------contact*/

iframe {
    align-items: center;
    padding: 50px;
}

/*img {
    vertical-align: middle;
    border-style: none;
    margin-top: 30px;
    margin-right: 100px;
    margin-left: 30px;
    max-width: 150px;
    overflow: hidden;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgb(105,21,17);
}

.background-image {
    background-image: url("../img/1.png");
    width: 100%;
    height: 100vw;
    margin-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-attachment: fixed;
}
/*-------------------------------------------menu/wijnkaart*/


div .menu-item {
    padding: 0px 10px 20px 0px;   
}

div .bold {
    font-weight: 700;
}

div .right {
    text-align: right;
}

div .left {
    text-align: left;
}


/*-------------------------------------------media query*/

@media(min-width: 992px) {
 .hero-image {
    min-height: 700px;
  }

@media(min-width: 992px) {
  .overlay {
    min-height: 700px;
  }

/*@media(min-width: 575px) {
    .footer-address .footer-social {
    font-size: 9px;
  }